<nav>
    <a class="@(Document.SourceString().Contains("input/index") ? "active":"")" href="/">Home</a>
    <a class="@(Document.SourceString().Contains("input/releases") ? "active":"")" href="/releases.html">Releases</a>
    <a class="@(Document.SourceString().Contains("input/artists") ? "active":"")" href="/artists.html">Artists</a>
    <a class="@(Document.SourceString().Contains("input/merch") ? "active":"")" href="/merch.html">Merch</a>
    <a class="@(Document.SourceString().Contains("input/contacts") ? "active":"")" href="/contacts.html">Contacts</a>
</nav>